<header class="header">
  <div class="header__container">
    <a
      href="/"
      class="header__logo">
      <img
        src="../assets/images/logo.png"
        alt="logo" />
    </a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a href="">home</a></li>
          <li class="menu__item"><a href="">features</a></li>
          <li class="menu__item"><a href="">support</a></li>
          <li class="menu__item"><a href="">contact us</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__button">
      <a
        class="btn btn--blue"
        href=""
        >download</a
      >
      <button
        id="burger-btn"
        type="button"
        class="burger-icon">
        <span></span>
      </button>
    </div>
  </div>
</header>
