.healthcare {
  padding: 80px 35px 22.5px 35px;

  // .healthcare__body

  &__body {
    display: flex;
    justify-content: space-around;
    gap: 72px;
    align-items: center;
    @include breakpoint($breakpoint-2) {
      flex-direction: column;
    }
  }

  // .healthcare__column

  &__column {
    position: relative;
    flex: 1 1 33.333%;
    object-fit: contain;
    height: auto;
    padding: 37px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
  }

  &__reactangle {
    background: #ec5863;
    position: absolute;
    // @include breakpoint($breakpoint-2) {
    //   display: none;
    // }
    &--1 {
      bottom: -40px;
      left: -25px;
      width: 65.75px;
      height: 65.75px;
      border-radius: 16px;
      transform: rotate(-30deg);
      z-index: -1;
    }
    &--2 {
      top: 31px;
      right: -55px;
      width: 96.96px;
      height: 96.96px;
      border-radius: 30px;
      transform: rotate(105deg);
      z-index: -1;
    }
    &--3 {
      bottom: 0;
      right: -91px;
      width: 127.27px;
      height: 127.27px;
      border-radius: 30px;
      transform: rotate(-30deg);
      z-index: -1;
    }
    &--4 {
      top: -41px;
      right: -26px;
      width: 65.75px;
      height: 65.75px;
      border-radius: 16px;
      transform: rotate(-30deg);
      z-index: -1;
    }
  }
}
.header-healthcare {
  margin-bottom: 46px;
  // .header-healthcare__title

  &__title {
    text-align: center;
    span {
      color: #ec5863;
    }
  }

  // .header-healthcare__subtitle

  &__subtitle {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
  }
}

.item-column {
  // .item-column__img

  &__img {
    margin-bottom: 58px;
  }

  // .item-column__title

  &__title {
    font-family: "Rubik";
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 138.5%;
    letter-spacing: 0.08em;
  }

  // .item-column__subtitle

  &__subtitle {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 138.5%;
    letter-spacing: 0.08em;
  }
}

@include breakpoint($breakpoint-2) {
  .item-column {
    &__img {
      margin-bottom: 58px;
    }
    &__title {
      font-size: 0.8rem;
    }

    &__subtitle {
      font-size: 0.5rem;
    }
  }
}
